<div class="wrapper row feature-row flex">
        
        <div class="feature-box">

            <div class="wrapper-video">

            </div>

            <div class="wrapper-intro">
                
                <div class="intro">
                    <p class="tagline">
                        <span class="primary">I'm Shawn</span>
                        & I love to
                        <span class="highlight">create</span>
                    </p>

                    <span class="view-work link js-view-work h-center-content">
                        <span class="wrapper-labels">
                            <span class="primary-label">What am I working on?</span>
                            <span class="secondary-label">I'd like to have a look</span>
                        </span>
                        <img id="home-view-work" data-src="Resources/Icons/code.svg" class="iconic iconic-md" alt="code">
                    </span>
                    <div class="contact link js-make-contact">
                        <span class="wrapper-labels">
                            <span class="primary-label">Want to talk?</span>
                            <span class="secondary-label">Yes, yes I do</span>
                        </span>
                        <img id="home-contact" data-src="Resources/Icons/envelope.svg" class="iconic iconic-md" alt="envelope">
                    </div>
                </div>
            </div>

        </div>
    </div>

<script src="Resources/Scripts/homepage.js"></script>