<a class="site-nav-logo" href="/index.html"><img src="Resources/Content/PC-Logo/pc-logo-white.svg" alt="PC Logo" /></a>

<div class="site-nav js-toggle-nav">
    <img id="show-nav" data-src="Resources/Icons/menu.svg" class="iconic iconic-md" alt="menu">
    <img id="close-nav" data-src="Resources/Icons/x.svg" class="iconic iconic-md" alt="x">
</div>

<div class="wrapper-main-navigation">

    <div class="main-navigation">

        <ul class="menu-list">
            <li class="list-item">
                <a class="menu-link" href="index.html">
                    Home
                </a>
            </li>
            <li class="list-item">
                <a class="menu-link" href="">
                    What am I working on?
                </a>
            </li>
            <li class="list-item">
                <span class="menu-link js-make-contact">
                    Want to talk?
                </span>
            </li>
            <li class="list-item social">
                <a class="menu-link" href="#"><span class="fa fa-twitter"></span></a>
            </li>
            <li class="list-item social">
                <a class="menu-link" href="#"><span class="fa fa-linkedin"></span></a>
            </li>
            <li class="list-item social">
                <a class="menu-link" href="#"><span class="fa fa-instagram"></span></a>
            </li>
        </ul>

    </div>

</div>

<div class="wrapper-contact-form">

    <div class="contact-form">

        <input class="contact-input" placeholder="Your name" />
        <input class="contact-input" placeholder="Email address" />
        <textarea class="contact-textarea" placeholder="What do you have to say?"></textarea>

        <button class="button-submit right">Send your comment</button>
        <button class="button-close-muted left js-cancel-comment">Cancel</button>

    </div>

</div>

<script src="Resources/Scripts/navigation.js"></script>
<!-- Inject iconic icons when this page is called -->
<script src="Resources/Scripts/iconic.angular-inject.js"></script>